<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>银川1号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>55</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>38.4600888589</string>
		<key>经度</key>
		<string>106.0643633928</string>
	</dict>
	<key>银川2号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>38.1924601063</string>
		<key>经度</key>
		<string>106.1783555234</string>
	</dict>
	<key>银川3号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>38.4167864674</string>
		<key>经度</key>
		<string>105.9805331149</string>
	</dict>
	<key>银川4号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>38.6141968059</string>
		<key>经度</key>
		<string>106.3541550135</string>
	</dict>
	<key>银川5号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>121</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>38.4764727471</string>
		<key>经度</key>
		<string>106.5080567011</string>
	</dict>
	<key>固原1号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>36.0104512871</string>
		<key>经度</key>
		<string>106.3652089649</string>
	</dict>
	<key>固原2号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>36.2012001280</string>
		<key>经度</key>
		<string>106.0246423389</string>
	</dict>
	<key>石嘴山1号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>38.9996365458</string>
		<key>经度</key>
		<string>106.5353834020</string>
	</dict>
	<key>石嘴山2号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>39.1571338743</string>
		<key>经度</key>
		<string>106.6616666405</string>
	</dict>
	<key>吴忠1号监测站</key>
	<dict>
		<key>AQI</key>
		<integer>34</integer>
		<key>首要污染物</key>
		<string>PM2.5</string>
		<key>PM2.5</key>
		<string>114ug/m3</string>
		<key>PM10</key>
		<string>114ug/m3</string>
		<key>No2</key>
		<string>114ug/m3</string>
		<key>So2</key>
		<string>114ug/m3</string>
		<key>O3</key>
		<string>114ug/m3</string>
		<key>CO</key>
		<string>114ug/m3</string>
		<key>级别</key>
		<string>良</string>
		<key>纬度</key>
		<string>37.9586269643</string>
		<key>经度</key>
		<string>106.3763347117</string>
	</dict>
</dict>
</plist>
